/* livvic-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2");
}
/* livvic-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600italic.woff2") format("woff2");
}
/* livvic-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2");
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* mobile holatida bosilganda background ko'k bolib qolmaydi  */
}
:root {
  --herro-bg: #014e56;
  --banner-bg: #012f34;
  --footer-bg: #002428;
  --aqua-100: #004047;
  --red-40: #f67e7e;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: "Livvic", "Areal", "sans-serif";
  color: var(--black);
  font-style: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  display: flex;
}
ul,
ol {
  list-style-type: none;
  font-size: inherit;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: flex;
}
.container {
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
